<p>pokemon works!</p>
<app-pokemon-finder (sendName)="handlePokemon($event)"></app-pokemon-finder>
<div *ngIf="pokemonFound">
    <p>Name: {{ pokemonFound?.name }}</p>
    <p>ID: {{ pokemonFound?.id }}</p>
    <img [src]="pokemonFound?.sprites?.front_default" alt="" />
</div>
<p *ngIf="!pokemonFound">Search fo your first Pokemon!</p>
