<form novalidate (ngSubmit)="onSubmit()" [formGroup]="finderForm">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" formControlName="name" />
    <button type="submit">Search</button>
</form>
